HELP.md
target/
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ / VS Code ###
.idea/
*.iml
*.iws
*.ipr
.vscode/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### Mac ###
.DS_Store

### Logs ###
logs/
*.log
